@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Poppins', sans-serif;
}
h1
{
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(35, 35, 85);
}

span
{
	font-size: .9rem;
}

h6
{
	font-size: 1.1rem;
	color: rgb(24, 24, 49);
}


/*------------- Navigation style start ------------*/
nav
{
	position: fixed;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vw 8vw;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
	z-index: 1;
}

nav .logo
{
	width: 150px;
	cursor: pointer;
}

nav .navigation
{
	display: flex;
}

#menu-btn
{
	width: 30px;
	height: 30px;
	display: none;
}

#menu-close
{
	display: none;
}

nav .navigation ul
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .navigation ul li
{
	list-style: none;
	margin-left: 30px;
}

nav .navigation ul li a
{
	text-decoration: none;
	color: rgb(21, 21, 100);
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover
{
	color: #FDC93B;

}
/*------------- Navigation style end ------------*/

/* Login Form and Sign In form */


.form{
  width:100%;
  height: 100%;
  position: fixed;
  /* top: 0px;
  left: 0px; */
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}


.login-form,
.sign-up-form{
  width:420px;
  padding: 20px 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;

}
.login-form form,
.sign-up-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login-form strong,
.sign-up-form strong{
  color: #272727;
  font-size: 2rem;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.login-form input,
.sign-up-form input{
  width:90%;
  height: 45px;
  margin: 6px 0px;
  padding: 0px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  outline: none;
  border-radius: 7px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder{
  color: rgba(0,0,0,0.5);
}
.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
  background-color: #0b9d8a;
  color: #ffffff;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.form-btns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.form-btns a{
  color: #4d4d4d;
  font-size: 0.9rem;
}
.sign-up-btn{
  border-bottom: 1px solid #868686;
  line-height: 16px;
}
.form-cancel{
  position: absolute;
  right: 20px;
  top: 10px;
  color: #868686;
}
.login-form,
.sign-up-form,
.form{
  display: none;
}
.login-active,
.login-active .login-form{
  display: flex;
  animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .sign-up-form{
  display: flex;
  animation: fade 0.3s;
}
@keyframes fade{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

/* - - - - - - - - - - - - - - - - - - - --  - - - - - - -  */






#contact
{
	padding: 8vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}



/* ----------------------------------------------------------------------------------------------------- */

/* Table  */


.custom-table {
  width: 90%; 
  margin: 0 auto; 
  border-collapse: collapse; 
}

/* Apply styles to table header cells (th) */
.custom-table th {
  background-color: #0081bd; 
	color:white;
  border: 1px solid black;
  padding: 10px; 
  text-align: center; 
}

/* Apply styles to table data cells (td) */
.custom-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center; 
}

/* Apply alternate background color to even rows */
.custom-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}




/* -------------------------------------------------------- */




#about-home {
	background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(img/back1.jpg);
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	unicode-bidi: isolate;
	color:white;
}




table td a
{
	color:black;
	text-decoration: none;
}

table td a:hover
{
	text-decoration: underline;
	color: blue;
}



.star .fa-star 
{
	color: #fdc93b;
	font-size: .9rem;
}
.star p
{
	font-size: 0.3rem;
}
































































/*------------- Footer section styling starts ------------*/
footer
{
	padding: 8vw;
	background-color: #101c32;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer .footer-col
{
	padding-bottom: 40px;
}

footer h3
{
	color: rgb(241, 240, 245);
	font-weight: 600;
	padding-bottom: 20px;
}

footer li
{
	list-style: none;
	color: #7b838a;
	padding: 10px 0;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s ease;
}

footer li:hover
{
	color: rgb(241, 240, 245);
}

footer p
{
	color: #7b838a;
}

footer .subscribe
{
	margin-top: 20px;
}

footer input
{
	width: 220px;
	padding: 15px 12px;
	background: #334F6C;
	border: none;
	outline: none;
	color: #fff;
}

footer .subscribe a
{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 12px 15px;
	background-color: #fff;
	font-weight: 600;
}

footer .subscribe a.yellow
{
	color: #fff;
	background: #fdc93b;
	transition: 0.3s ease;
}

footer .subscribe a.yellow:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}

footer .copyright
{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

footer .copyright p, footer .copyright p > a
{
	color: #fff;
	text-decoration: none;
}

footer .copyright .pro-links
{
	margin-top: 0px;
}

footer .copyright .pro-links i
{
	background-color: #5f7185;
	color: #fff;
}

footer .copyright .pro-links i:hover
{
	background: #fdc93b;
	color: #2c2c2c;
}
/*------------- Footer section styling ends ------------*/



/*---------------------------------------------------------*/
/*-------------------- Ipad screen styling ----------------*/
/*---------------------------------------------------------*/
@media screen and (max-width: 789px)
{
	nav
	{
		padding: 15px 20px;
	}

	nav img
	{
		width: 130px;
	}

	#menu-btn
	{
		display: initial;
	}

	#menu-close
	{
		display: initial;
		font-size: 1.6rem;
		color: #fff;
		padding: 30px 0 20px 20px;
	}

	nav .navigation ul
	{
		position: absolute;
		top: 0;
		right: -220px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 220px;
		height: 100vh;
		background: rgba(17, 20, 104, 0.45);
		backdrop-filter: blur(4.5px);
		border: 1px solid rgba(255, 255, 255, 0.18);
		transition: 0.3s ease-in;
	}

	nav .navigation ul.active
	{
		right: 0;
	}

	nav .navigation ul li
	{
		padding: 20px 0 20px 40px;
		margin-left: 0;
	}

	nav .navigation ul li a
	{
		color: #fff;
	}

	#home
	{
		padding: 0px;
	}

	#home p
	{
		width: 90%;
	}

	#features
	{
		padding: 8vw 4vw 0 4vw;
	}

	#course
	{
		padding: 8vw 4vw 8vw 4vw;
	}
	

	#registration
	{
		padding: 6vw 4vw 6vw 4vw;
		gap: 2.2rem;
	}

	#registration .reminder .time
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
	}

	#experts
	{
		padding: 8vw 4vw 6vw 4vw;
	}

	footer .copyright .pro-links
	{
		margin-top: 20px;
	}
}


@media screen and (max-width: 475px)
{
	#registration
	{
		flex-direction: column;
	}

	.reminder p, .reminder h1
	{
		text-align: center;
	}

	.reminder h1
	{
		font-size: 1.8rem;
	}

	#registration .reminder .time
	{
		justify-content: space-evenly;
		margin-top: 20px;
	}
}