*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: flex;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/back.jpg");

  width: 100%;
  


}
