@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F4F;
}
.container
{
  display: flex;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/back.jpg");

  width: 100%;
  height: 100vh;
  background-size: cover;
	background-position: center center;
  flex-direction: column;
	justify-content: center;
}

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .static-txt1{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('img/back.jpg'); /* Replace 'your-image-url.png' with the URL of your transparent background image */
  background-repeat: repeat-x; /* Repeat the image horizontally */
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}










.search-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background: #fff;
  margin: 50px auto auto ;
  border-radius : 5px;
  flex-wrap: wrap;

}



.row
{
  display: flex;
  flex-wrap: wrap;
  padding : 10px 20px;
  border: none;
}    
input
{
  border: 0;
  flex: 1;
  background: transparent;
  height: 50px;
  width: 385px;
  margin-left: -10px;
  font-size: 20px;
  color: #333;
  outline: 0;

}
button
{
	background:transparent;
	border:0;
	outline: 0;
}

button .fa-solid
{
	width:25px;
	color: #555;
  /* border: 1px solid black; */
	cursor: pointer;
  margin-left: 6rem;
	font-size: 25px;
}
 ::placeholder
{
	color: #555;
}
.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 12px 8px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}

.another
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  ;
 
  /* background: #fff; */
  margin: -200px auto auto;
  border-radius : 5px;  flex-wrap: wrap;
}



.pp
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  /* background: orange; */
  /* margin: 0.1px auto auto ; */
  border-radius : 5px;
  flex-wrap: wrap;
  
}
h2
{
	text-align: center;
	color: #ffffff;
	font-size: 2.2rem;
	letter-spacing: 1px;
}
p
{
  margin-top: 1rem;
  width: 100%;
	/* border:10px solid black; */
	color: #ffffff;
	font-size: 0.9rem;
	line-height: 25px;
  text-align: center;
}
.btn
{
  margin-top: 1rem;
}

a
{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
}



a.blue
{
	color: #fff;
	background: rgb(21, 21, 100);
	transition: 0.3s ease;
}
a.blue:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}
a.yellow
{
	color: #fff;
	margin-left: 1rem;
	background: #fdc938;
	transition: 0.3s ease;
}

a.yellow:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}