*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: flex;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/back.jpg");

  width: 100%;
  height: 100vh;
  background-size: cover;
	background-position: center center;
  flex-direction: column;
	justify-content: center;
  
}

.search-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: #fff;
  margin: 150px auto auto ;
  border-radius : 5px;
  flex-wrap: wrap;

}



.row
{
  display: flex;
  flex-wrap: wrap;
  padding : 10px 20px;
  border: none;
}    
input
{
  border: 0;
  flex: 1;
  background: transparent;
  height: 50px;
  width: 385px;
  margin-left: -10px;
  font-size: 20px;
  color: #333;
  outline: 0;

}
button
{
	background:transparent;
	border:0;
	outline: 0;
}

button .fa-solid
{
	width:25px;
	color: #555;
	cursor: pointer;
	font-size: 22px;
}
 ::placeholder
{
	color: #555;
}
.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 12px 8px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}

.another
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: #fff;
  margin: -200px auto auto;
  border-radius : 5px;  flex-wrap: wrap;
}



.pp
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: orange;
  /* margin: 0.1px auto auto ; */
  border-radius : 5px;
  flex-wrap: wrap;
}
h2
{
	text-align: center;
	color: #000000;
	font-size: 2.2rem;
	letter-spacing: 1px;
}
p
{
  width: 400px;
	/* border:10px solid black; */
	color: #000000;
	font-size: 0.9rem;
	line-height: 25px;
  text-align: center;
}

a.blue
{
	color: #fff;
	background: rgb(21, 21, 100);
	transition: 0.3s ease;
}
a.blue:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}
a.yellow
{
	color: #fff;
	margin-left: 1rem;
	background: #fdc938;
	transition: 0.3s ease;
}

#home a.yellow:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}