*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: flex;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("img/back.jpg");

  width: 100%;
  height: 100vh;
  background-size: cover;
	background-position: center center;
  flex-direction: column;
	justify-content: center;
  flex-wrap: wrap;
}

.search-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: #fff;
  margin: 150px auto auto ;
  border-radius : 5px;
  flex-wrap: wrap;

}



.row
{
  display: flex;
  flex-wrap: wrap;
  padding : 10px 20px;
  border: none;
}    
#input-box
{
  border: 0;
  flex: 1;
  background: transparent;
  height: 50px;
  font-size: 20px;
  color: #333;
  outline: 0;

}
