*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F47;
}

.wrapper
{
  display: inline-flex;

}
.wrapper .static-txt
{
  font-size: 60px;
  color: #fff;
  font-weight: 400;
}
v
.wrapper .dynamic-txts{

}
.dynamic-txts li
{
  color: #FC6D6D;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
}